@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+US+Trad&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #FFFFFF;
    --foreground: #020817;

    --card: #FFFFFF;
    --card-foreground: #020817;

    --popover: #FFFFFF;
    --popover-foreground: #020817;

    --primary: #032B91; /* Mã màu gốc của bạn */
    --primary-foreground: #F8FAFC;

    --secondary: #F1F5F9;
    --secondary-foreground: #132D65;

    --muted: #F1F5F9;
    --muted-foreground: #64748B;

    --accent: #F1F5F9;
    --accent-foreground: #132D65;

    --destructive: #EF4444;
    --destructive-foreground: #F8FAFC;

    --border: #E2E8F0;
    --input: #E2E8F0;
    --ring: #020817;

    --radius: 0.5rem;
  }

  .dark {
    --background: #020817;
    --foreground: #F8FAFC;

    --card: #020817;
    --card-foreground: #F8FAFC;

    --popover: #020817;
    --popover-foreground: #F8FAFC;

    --primary: #F8FAFC;
    --primary-foreground: #132D65;

    --secondary: #1E293B;
    --secondary-foreground: #F8FAFC;

    --muted: #1E293B;
    --muted-foreground: #94A3B8;

    --accent: #1E293B;
    --accent-foreground: #F8FAFC;

    --destructive: #7F1D1D;
    --destructive-foreground: #F8FAFC;

    --border: #1E293B;
    --input: #1E293B;
    --ring: #CBD5E1;
  }
}

@layer base {
  * {
    @applyXB border-border;
  }
  body {
    @apply bg-background text-foreground font-sans;
  }
  #root {
    @apply min-h-screen bg-gray-100 dark:bg-zinc-950 font-sans;
  }
}